body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Apply background color to even rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Apply background color to odd rows */
tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Define other styles for your table, headers, and cells as needed */
